:root {
  --animate_translate_y: 10px;
  --property_translate_y: margin-top;
}

body {
  background-color: var(--color-background);
}
.App {
  overflow-x: hidden;
}

.show {
  animation: fade .3s forwards;
}

.showIt {
  animation: showUp .3s forwards;
}

.openIt {
  animation: fadeIn .3s forwards;
}

.closeIt {
  animation: fadeOut .3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(var(--animate_translate_y));
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(var(--animate_translate_y));
  }
}

@keyframes showUp {
  from {
    opacity: 0;
    margin-top: var(--animate_translate_y);
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 425px){
  :root {
    --animate_translate_y: 100px;
  }

  @keyframes showUp {
    from {
      opacity: 0;
      margin-bottom: calc(-1 * var(--animate_translate_y));
    }

    to {
      opacity: 1;
      margin-bottom: 0;
    }
  }
}